.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-title {
  font-family: 'Pattaya', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Top bar gradient */
.map-nav {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Hamburger from W3*/

.hamburger-container {
  margin-left: .2rem;
  cursor: pointer;
  padding: 5px;
  border: 0;
  background-color: white;
}

.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Sidebar Styling */

.map-sidebar {
  position: absolute;
  width: 250px;
  margin-top: 75px;
  height: calc(100% - 76px);
  background-color: white;
  border-top: 1px solid;
  transform: translate(-250px);
  z-index: 1;
}
.sidebar-input {
  margin-top: 1rem;
}

.map-sidebar ul {
  list-style: none;
  padding: 0;
}

.map-sidebar li {
  padding: 1rem;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

/*Sidebar hover effect gradient*/
.map-sidebar li:hover {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-weight: bold;
}

/* ErrorScreen */

.error-screen-message {
  text-align: center;
}
